.animation01 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.animation01 span {
  text-transform: uppercase;
  animation: blink 4s linear infinite alternate;
  font-size: 35px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
    color: black;
  }

  100% {
    opacity: 1;
    color: red;
  }
}

.animation02 {
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.loader-y {
  display: flex;
  gap: 5px;
}

.loader-y span {
  display: block;
  width: 10px;
  height: 10px;
  background: black;
  animation: bounce 1.2s linear infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20px);
  }
}

.loader-y span:nth-child(2) {
  animation-delay: 0.6s;
}

.loader-y span:nth-child(3) {
  animation-delay: 1.2s;
}

.loader-y span:nth-child(4) {
  animation-delay: 1.8s;
}

.circle {
  width: 70px;
  aspect-ratio: 1;
  border: 10px solid;
  border-color: transparent transparent transparent red;
  border-radius: 50%;
  animation: rotate 2.5s linear infinite;
  position: relative;
}

@keyframes rotate {
  0% {
  }

  100% {
    transform: rotate(360deg);
  }
}

.arrow {
  content: '';
  position: absolute;
  width: 13px;
  aspect-ratio: 1;
  background: red;
  top: -1px;
  left: 2px;
  transform: rotate(5deg);
}

.back {
  content: '';
  position: absolute;
  width: 12px;
  aspect-ratio: 1;
  background: white;
  bottom: -1px;
  left: 2px;
  transform: rotate(5deg);
}
