.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

$colors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $colorName, $colorValue in $colors {
  .btn-#{$colorName} {
    color: $colorValue;
  }
}

$background: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $BgColorName, $BgColorValue in $background {
  .btn-bg-#{$BgColorName} {
    background: $BgColorValue;
  }
}

$text: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $TextName, $TextValue in $text {
  .text-#{$TextName} {
    color: $TextValue;
  }
}
